<div class="form-container">
  <h2>add a recipe to <%= @category.name %> category</h2>

  <%= simple_form_for [@category, @bookmark], html: { multipart: true } do |f| %>
    <%= f.input :comment%>
    <%= f.association :recipe %>

    <%= f.button :submit, "Add recipe", class: "btn-submit" %>
  <% end %>
</div>
